/*  8888888b.                                     d8b                              */
/*  888   Y88b                                    Y8P                              */
/*  888    888                                                                     */
/*  888   d88P  8888b.   .d8888b .d88888 888  888 888 88888b.   .d88b.  888  888   */
/*  8888888P"      "88b d88P"   d88" 888 888  888 888 888 "88b d88""88b `Y8bd8P'   */
/*  888 T88b   .d888888 888     888  888 888  888 888 888  888 888  888   X88K     */
/*  888  T88b  888  888 Y88b.   Y88b 888 Y88b 888 888 888  888 Y88..88P .d8""8b.   */
/*  888   T88b "Y888888  "Y8888P "Y88888  "Y88888 888 888  888  "Y88P"  888  888   */
/*                                   888                                           */
/*                                   888  Full-Stack Web Design & Development      */
/*                                   888  Racquinox.net - Racquinox@Protonmail.com */

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu+Sans+Mono:ital,wght@0,400..700;1,400..700&display=swap');

* {
	margin: 0;
	padding: 0;
	font-family: "Ubuntu Sans Mono", monospace;
}

body {
	background-image: url("img/bg.jpg");
	background-size: cover;
	background-attachment: fixed;
}

header {
	width: 100%;
}

h1 {
	font-size: 8em;
	margin-left: 60px;
	font-family: "Playfair Display", serif;
}

h1 a {
	text-decoration: none;
	color: black;
	font-family: "Playfair Display", serif;
}

main {
	width: 90%;
	margin: auto;
	background-color: rgba(255, 255, 255, 0.35);
	border-bottom: 2px solid green;
}

nav {
	width: 100%;
	border-top: 2px solid green;
	border-bottom: 2px solid green;
}

nav li {
	display: inline-block;
	margin-left: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 1.25em;
}

nav li a {
	text-decoration: none;
	font-family: "Ubuntu Sans Mono", monospace;
	color: black;
}

nav li a:hover {
	color: green;
	text-decoration: underline;
}

section {
	width: 95%;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

span {
	font-weight: bold;
	font-size: 1.25em;
}

#moto {
	text-align: center;
	font-size: 2em;
}

#SplashImg {
	display: inline-block;
	width: 100%;
	margin-top: 20px;
	background-image: url("img/SplashAvoToast.jpg");
	background-size: cover;
	min-height: 70vh;
	margin-bottom: 20px;
	border-radius: 25px;
}

#SplashImg p {
	margin: 30px;
	margin-top: 40px;
	background-color: rgba(255, 255, 255, 0.35);
	font-size: 1.25em;
	padding: 10px;
}

.menu {
	width: 100%;
}

.menuItem {
	width: 100%;
	border: 2px solid green;
	display: flex;
}

.menuItem img {
	display: inline-block;
	width: 25%;
}

.mDesc {
	display: inline-block;
	width: 70%;
}

.mDesc h3 {
	margin-left: 5px;
	margin-top: 5px;
}

.mDesc p {
	margin-left: 10px;
	margin-top: 10px;
}

footer {
	background-color: rgba(255, 255, 255, 0.35);
	width: 100%;
	margin-top: 20px;
	border-top: 2px solid green;
}

footer a {
	color: black;
	margin-left: 20px;
}

footer a:hover {
	color: green;
}

.em {
	font-size: .75em;
	margin-top: 10px;
	margin-bottom: 10px;
}
