

* {
	margin: 0;
	padding: 0;
	font-family: "FreeMono", serif;
	color: white;
}

body {
	background-color: black;
	background-size: cover;
	border-top: 20px solid black;
	background-attachment: fixed;
}

header {
	width: 100%;
	padding-top: 40px;
	background-image: url(img/banner.jpg);
	background-size: cover;
}

header p {
	font-size: 1.5em;
	margin-left: 50px;
	padding-bottom: 10px;
}

header a {
	text-decoration: none;
}

h1 {
 	font-size: 3.5em;
	font-weight: normal;
	margin-left: 50px;
}

h1 a:hover {
	color: red;
}

#branding {
	width: 40%;
	padding-top: 10px;
	background-color: rgba(0, 0, 0, 0.75);
	border-top: 2px solid black;
	border-right: 2px solid black;
	border-bottom: 2px solid black;
}

nav {
	width: 100%;
	text-align: right;
	font-size: 1.5em;
	margin-top: 40px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: rgba(0, 0, 0, 0.75);
	border-top: 2px solid black;
}

nav li {
	display: inline-block;
	margin-right: 15px;
}

nav li a {
	text-decoration: none;
}

nav li a:hover {
	color: red;
}

.PortDisplay {
	width: 100%;
	background-color: black;
	border-top: 2px solid red;
	display: flex;
	flex-wrap: wrap;
}

.PortEntry {
	flex: 20%;
	border: 5px solid black;
}

.PortEntry a {
	text-decoration: none;
}

.PortEntry h2:hover {
	color:red;
}

.PortEntry img {
	display: block;
	width: 100%;
	border: 1px solid black;
}

.PortEntry img:hover {
	border: 1px solid red;
}

.tech {
	display: inline-block;
	border: 1px solid white;
	text-align: right;
	
}

h2 {
	font-weight: normal;
	text-align: center;
}

footer {
	width: 100%;
	background color: black;
}

footer a {
	display: inline-block;
}

footer a:hover {
	color: red;
}

footer p {
	display: inline-block;
}
