@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&display=swap');

body {
	background-image: url("img/marble.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
